{% load staticfiles %} {% block head %}
<html>

<head>
    {% include 'blog/base_links.html' %}

<title>{{ config.SITE_NAME }}</title>
</head>

<body>
<div id="wrapper" class="toggled">

    {% endblock %}