<div class="post section">
  
        <div class="date">
            {{ post.published_at }}
            <a href="{% url 'category_detail' pk=post.category.pk %}">{{ post.category }}</a></h1>
        </div>
        
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
 {% if post.is_date_past %}
        <p>{{ post.text|linebreaksbr }}</p>
 {% elif constance.SHOW_TIMER %}
        <div class="clock" style="margin:2em;"></div>
    {% else %}
    {% endif %}
    
</div>