{% extends "blog/base.html" %} {% block content %}
{% for category in categories %}
<!-- {{ category.post_set }} -->
<li>
    <a href="{% url 'category_detail' pk=category.pk %}">{{ category.title }}</a>
</li>
{% endfor %}
{% endblock %}