{% extends "blog/base.html" %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            {% include "blog/base_post_single.html" %}
        </div>
    </div>
</div>
{% endblock %}