{% load staticfiles %}
</div>
<!-- /#wrapper -->
{% block foot %}
<!-- Optional JavaScript -->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'js/flipclock.js' %}?ver=2"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<script type="text/javascript">
    var clock;

    $(document).ready(function () {

        // Grab the current date
        var currentDate = new Date();

        // Set some date in the future. In this case, it's always Jan 1
 var futureDate = new Date({{ post.published_at.year }}, {{ post.published_at.month }}-1, {{ post.published_at.day }}, {{ post.published_at.hour}}, {{ post.published_at.minute }});

        // Calculate the difference in seconds between the future and current date
        var diff = futureDate.getTime() / 1000 - currentDate.getTime() / 1000;

        // Instantiate a coutdown FlipClock
        clock = $('.clock').FlipClock(diff, {
            clockFace: 'DailyCounter',
            countdown: true
        });
    });
 function addZero(i) { if (i < 10) { i="0" + i; } return i; }

</script>
<script>
 function addZero(i) { if (i < 10) { i="0" + i; } return i; }
 $(document).ready(function() { var interval = setInterval(function() { var momentNow = moment(); moment.locale('lt'); $('#date_part').html(momentNow.format('YYYY-MM-DD'));
$('#day_part').html(momentNow.format('dddd')); $('#time_part').html(momentNow.format('HH:mm')); }, 1000); });
</script>
<script>
 function addZero(i) { if (i < 10) { i="0" + i; } return i; }
    $(document).ready(function () {
        var interval = setInterval(function () {
            var data = [
                ["08:00", "08:44", "08:45", "1 pamoka"],
                ["08:45", "08:54", "08:55", "Pertrauka"],
                ["08:55", "09:39", "09:40", "2 pamoka"],
                ["09:40", "09:59", "10:00", "Pertrauka"],
                ["10:00", "10:44", "10:45", "3 pamoka"],
                ["10:45", "10:54", "10:55", "Pertrauka"],
                ["10:55", "11:39", "11:40", "4 pamoka"],
                ["11:40", "11:49", "11:49", "Pertrauka"],
                ["11:50", "12:34", "12:35", "5 pamoka"],
                ["12:35", "12:59", "13:00", "Pertrauka"],
                ["13:00", "13:44", "13:45", "6 pamoka"],
                ["13:45", "13:54", "13:55", "Pertrauka"],
                ["13:55", "14:39", "14:40", "7 pamoka"],
                ["14:40", "14:49", "14:50", "Pertrauka"],
                ["14:50", "15:34", "15:35", "8 pamoka"],
                ["15:35", "15:44", "15:45", "Pertrauka"],
                ["15:45", "16:29", "16:30", "9 pamoka"],
                ["16:30", "23:59", "08:00", "&mdash;&mdash;&mdash;"],
                ["00:00", "07:59", "08:00", "&mdash;&mdash;&mdash;"],
            ];


            hr = new Date().getHours();
            minu = new Date().getMinutes();
            time = new String(addZero(hr) + ":" + addZero(minu));
            stri = new String();
            //s.d.console.log(time);
            //s.d.console.log(data[1][0]);

            for (var i = 0; i < data.length; i++) {
                if (time >= data[i][0] && time <= data[i][1]) {
                    $("#pamoka1").html(data[i][3]);
                    if (i != data.length-1) {
                        $("#pam_pr1").html(data[i][0]  + ' &ndash; ' + data[i][2]);
                    } else {
                        $("#pam_pr1").html(data[i-1][0] + ' &ndash; ' + data[i-1][2]);
                    }
                    if (i = data.length) { i = 0;
                    } else { i++;};
                    $("#pamoka11").html(data[i][3]);
                    $("#pam_pr11").html(data[i][0] + ' &ndash; ' + data[i][2]);

                    break;
                }
            }
        }, 1000);
    });
</script>
</body>

</html>
{% endblock %}