<!-- Sidebar -->
<div id="sidebar-wrapper">
	<ul class="sidebar-nav">

		<a href="/">
			<div class="logo"></div>
		</a>

		{% load custom_tags %} {% cat_nav as categories %} {% for category in categories %}
		<li class="btn btn-outline-dark btn-block">
			<a href="{% url 'category_detail' pk=category.pk %}">{{ category.title }}</a>
		</li>
		{% endfor %}
	</ul>
	<!-- laikas -->
	<div class="text-center laikas w-100 position-absolute">
		<table class="pam_lentele w-100">
			<tr>
				<th class="text-center pam-pav">Dabar</th>
			</tr>
			<tr>
				<td class="text-center">
					<div>
						<div id="pamoka1">&ndash;</div>
						<div class="" id="pam_pr1">&ndash;</div>
					</div>
				</td>
			</tr>
			<tr>
				<th class="text-center pam-pav">Toliau</th>
			</tr>
			<tr>
				<td class="text-center">
					<div>
						<div id="pamoka11">&ndash;</div>
						<div class="" id="pam_pr11">&ndash;</div>
					</div>
				</td>
			</tr>
		</table>
<div style="font-size: 85px" id="time_part">&ndash;</div>
<div style="font-size: 25px;text-transform: capitalize;" id="day_part">&ndash;</div>
<div style="font-size: 25px" id="date_part">&ndash;</div>
	</div>
	<!-- end laikas -->
</div>
<!-- /#sidebar-wrapper -->